<h3>Stylist: <%= @stylist.name() %></h3>

<% if @clients.any? %>
  <h3><%= @stylist.name() %>'s clients:</h3>
  <ul>
    <% @clients.each do |client| %>
      <li>
        <a href="/stylist/<%= @stylist.id() %>/client/<%= client.id() %>"><%= client.name() %></a>
      </li>
    <% end %>
  </ul>

<% else %>
  <p>This stylist currently has no clients</p>
<% end %>

<form class="well" action="/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="stylist_id" value="<%= @stylist.id() %>">
  <label for="new_client_name">Enter new client:</label>
  <input type="text" name="new_client_name">
  <button type="submit">add client</button>
</form>

<form action="/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">delete stylist</button>
</form>

<a class="btn btn-success" href="/stylists">go back</a>
